a {
    color: black;
    font-weight: bold;
}

.boton_atras {
    display: inline-block;
    padding: 7px 15px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.boton_atras:hover {background-color: green}

.boton_atras:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}