.historial{
    border: 1px solid black;
    width: 50%;
    height: 300px;
}
.btArriba{
    border: 1px solid black;
    width: 50%;
    margin-top: 5px;
    margin-left: 10px;
}
.bt_atras{
    margin-left: 0px;
    margin-top: 1px;
    margin-bottom: 5px;
    font: condensed bold 15px sans-serif;
}
.bt_atras {
    display: inline-block;
    padding: 5px 8px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.bt_atras:hover {background-color: green}

.bt_atras:active {
    background-color: green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.head{
    border: 1px solid black;
    width: 50%;
    margin-top: 15px;
    margin-left: 10px;
}
.lb_titulo{
    font-weight: bold;
    text-decoration: underline;
    font: bold 200% sans-serif;
}
.body{
    border: 1px solid black;
    width: 50%;
    height: 100px;
    margin-top: 5px;
    margin-left: 10px;
}